<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/show.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<header><a href="/">Back to Dashboard</a></header>
<body>
    <h1>Checkout Page</h1>
    <form action="/<%=listing._id%>/checkout/?_method=PUT" method="POST">
    <br><input type="submit" name="qty" value="BUY NOW">
    </form>
    <h2>Name: <%= listing.name %></h2>
    <h2>Description: <%= listing.description %></h2>
    <h2>Price: <%= listing.price %></h2>
    <h2>Quantity: <%= listing.qty %></h2>
    <img src="<%= listing.img %>"><br>
    
</body>
</html>